html {
  background-color: #000;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;

  background: transparent url("../images/clock-face.svg") no-repeat center center;
}

.center {
  width: 28px;
  transform: translateX(350%) translateY(280%);
}

.hand {
  width: 14px;
}

.hand-hour {
  transform: translateX(1008%) translateY(120%);
}

.hand-minute {
  transform: translateX(880%) translateY(90%);
}
